<nav>
    <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Dashboard</a>
    <a [routerLink]="['/shop']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Shop(s)</a>
    <a [routerLink]="['/workshop']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Workshop(s)</a>
    <a [routerLink]="['/staff']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Staff</a>
    <a [routerLink]="['/holidays']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Holidays</a>
    <a [routerLink]="['/system_users']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">System Users</a>
    <a [routerLink]="['/global_settings']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Global Settings</a>
    <a [routerLink]="['/reports']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Reports</a>
</nav>