/* Scss Document */

/*----------------------app.min.scss variables start------------------*/


$primary_color: #363f45;

$light-gray: #919599;

$orange:  #fe5621;

$green: #4bae4f;

$primary_color_three:#FE5621;

$blue: #3e50b4;

$yellow: #fec006;

$white: #fff;

$color-one:#f34235;

$color-two:#fe9700;

$color-three:#8ac249;

$primary_color_one:#f2f9ff;

$font-weight:700;

$secondary-font-weight:400;

$secondary-color:#919599;

$secondary-color-one:#9da2a6;

$primary-color-one:#f0f1f5;

$primary-color-two:#02a8f3;

$background: #f0f1f5;

$background_two: #ebecf2;

$background_one:#fe6d3f;

$font-stack: 'Source Sans Pro', sans-serif;


/*----------------------app.min.scss variables end------------------*/


/*-----------------------------own-styles.scss variables start--------------*/



$one_color:#434245;

$font-size-one:43px;

$font-weight-one:300;

$weight-two:400;

$stack-two:20px;

$stack:17px;

$stack-one:15px;

$font-weight-two:600;

$two_color:#7D7B82;

$border:1px solid #09F;

$white:#fff;

$color_primary_one:#6d438e;

$font-weight:700;

$font-stack-one:'Lato', sans-serif;

$three_color:#dddde0;



/*-----------------------------own-styles.scss variables end--------------*/


/*-----------------------------select2.min.scss variables start------------*/

$block:block;

$cursor:pointer;

$gray:#999;

$default:default;

/*-----------------------------select2.min.scss variables End------------*/

/*-----------------------------style.scss variables start------------*/

$color_primary:#2e2e2e;

$color-stack:#28bbf8;

$color-stack-one:#7b7b7b;

$font-family-one:"Montserrat", sans-serif;

$font-size:14px;

$font-family-two:"Playfair Display", serif;

$font-size-one:40px;

$font-family-three:'themify';
