/* Sass Document */

.ct-pie-chart{
.text{
	margin-top: -16%;
	padding:23px 0 26px;
}
}

.total_staff{
}

.total_staff{
.icon{
	font-size:75px;
	color:#5F7F5F;
	text-align:center; 
	width:100%;
}
.icon2{
	font-size:75px;
	color:#614746;
	text-align:center; 
	width:100%;
}
.info{
	top:45%;
}		
}

.progessInfo{
ul{
li{
	margin: 16px 0 20px !important;
.title{
	margin: 0 0 -20px 0 !important;
}
}
}
}

.simpleList.simpleListImages{
>ul{
>li{
>a{
	padding: 12px 35px 12px 38px;
}
>div{
	padding: 12px 35px 12px 38px;
}
}
}
}


.pet_cash{
	margin: 35px 0 35px 30px !important;
}
					
