<div class="pageContent extended">
    <div>
        <h1>shops</h1>
    </div>
    <div class="container">
        <div class="row">
            <div>
                This is from dashboard page
                <div class="col6">
                    <form (ngSubmit)="onLoginFormSubmit()">
				<!--<form-input-text inputId="login-input-username" inputType="text" [inputControl]="loginForm.controls['username']">
					<div label>Username <span class="clr-epsilon">(user)</span></div>
					<div error-message>Please enter a username</div>
				</form-input-text>

				<form-input-text inputId="login-input-password" inputType="password" [inputControl]="loginForm.controls['password']">
					<div label>Password <span class="clr-epsilon">(123)</span></div>
					<div error-message>Please enter a password</div>
				</form-input-text>-->
                <form-input-text >
					
				</form-input-text>
				<!--<div class="form-row">
					<button type="submit" [disabled]="!loginForm.valid ">Submit</button>
				</div>-->
			</form>
                </div>
            </div>
        </div>
    </div>
</div>