<button id="myBtn" (click)="onClickedExit()">Open Modal</button>
<div id="myModal" class="modal" role="dialog" [style.display]="modalstatus" >
    <div class="modal-dialog">
        <div class="modal-content">
			<div class="modal-header rte">
				<button type="button" class="close" data-dismiss="modal" (click)="close()">&times;</button>
				<h2 class="modal-title">Create Employee</h2>
			</div>
			<div class="modal-body">
                <div class="pop_box1" id="info1" [hidden]="hideElement">
                    <div class="row">
                        <div class="{{data.size}}" *ngFor="let data of data">
                            <div class="form-group" *ngIf="data.field == 'mandatory'">
                                <input type="text" class={{data.class}} id={{data.id}} placeholder={{data.placeholder}}>
                            </div>
                        </div>
                    </div>
                        
                    <div class="pop_box_btn">
                        <ul class="fl">
                            <li><a id="info1_add" (click)="hideDiv()">Additional Info</a></li>
                        </ul>
                        <ul class="fr">
                            <li><a (click)="close()">Cancel</a></li>
                            <li><a >Create</a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
                    
                <div class="pop_box1" id="info2" [hidden]="hideElement1">
                    <div class="row">
                        <div class="{{data.size}}" *ngFor=" let data of data">
                            <div class="form-group" *ngIf="data.field == 'optional'">
                                <input type="text" class={{data.class}} id={{data.id}} placeholder={{data.placeholder}}>
                            </div>
                        </div>
                    </div>
                    
                    <div class="pop_box_btn">
                        <ul class="fl">
                            	<li><a id="info2_prev" (click)="hideDiv1()">Previous</a></li>
                        </ul>
                        <ul class="fr">
                            <li><a  (click)="close()">Cancel</a></li>
                            <li><a  >Create</a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
                    
			</div>
		</div>
	</div>
</div>    